target/META-INF/mule-src/choice-router/src/main/mule/choice-router.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b58b0785-d13f-4c80-a763-19c9ffee209e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choice-routerFlow" doc:id="5606a21f-c2d5-4b00-b85b-f4a27e519419" >
		<http:listener doc:name="Listener" doc:id="b3461388-e526-4163-83c4-1629d928aa94" config-ref="HTTP_Listener_config" path="/test" allowedMethods="GET"/>
		<choice doc:name="Choice" doc:id="4f96a988-a3a7-43e8-9939-37dfc4b30265" >
			<when expression='#[attributes.queryString.state== "active"]'>
				<ee:transform doc:name="Transform Message" doc:id="869af675-d767-4620-aa48-14679396d680">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="TRACE" doc:name="Logger" doc:id="2537a51b-7972-4c2c-9eea-6d5fe874cbba" message="#['active']"/>
			</when>
			<when expression='#[attributes.queryString.state== "Inactive"]'>
				<ee:transform doc:name="Transform Message" doc:id="f8dcae6e-ddb9-47f2-97ec-bf1acf94b404">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
	payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="846fe7c1-6314-425b-a27e-107bc4bd0bc3" message="#['Inactive']"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="b75cb422-9be2-423c-9c7f-a99c3cd30353" message="#['State is neither active nor inactive']"/>
			</otherwise>
		</choice>
	</flow>
</mule>
